#top-bottom-nav {
    background-color:#58B9F7;
    height: 40px; 
}
.middle-nav {
    background: white;
}
.navbar {
    color:#CC0000;
}
.navbar a {
    color: #CC0000;
}
.navbar-brand{
    font-weight: bolder;
    margin-left: -5em;
}

.form-control {
    color: #CC0000;
    border: solid 1px #CC0000;

}

.navbar{
    justify-content: space-evenly
}
.star {
    height:5em;
    background: #CC0000
}